/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, lightblue, lightgreen);
}
.container{
    width: 650px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: darkcyan;
}
input {
    cursor: pointer;
}
label {
    margin-left: 10px;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
